extends ../includes/index
block contenido
    main.container.mt-5
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="Imagen de nosotros" class="img-fluid")
            .col-md-7
                h1 #{pagina}
                blockquote Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum suscipit vitae corporis explicabo, ad ratione illum neque quos obcaecati corrupti necessitatibus omnis esse? Explicabo illo, eveniet alias maxime voluptas doloribus!
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima, itaque veritatis enim praesentium modi.
                p  consequatur quas error vero ad est dolore quisquam nostrum id eum aliquid? Dolorum doloribus corporis fugiat?.
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p ostrum suscipit vitae corporis explicabo, ad ratione illum neque quos obcaecati
                .col-md-4
                    img(src="img/icono_destinos.svg", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p ostrum suscipit vitae corporis explicabo, ad ratione illum neque quos obcaecati
                .col-md-4
                    img(src="img/icono_precios.svg", class="img-fluid mb-4")
                    h2.mb-4 Mejor PRecio
                    p ostrum suscipit vitae corporis explicabo, ad ratione illum neque quos obcaecati
            